<template>
    <el-button
        type="primary"
        :loading="isLoading"
        size="large"
        @click="$emit('click')"
    >
        <template #loading>
            <CustomLoading></CustomLoading>
        </template>
        <span v-if="isLoading">Recherche...</span>
        <span v-else>Rechercher</span>
    </el-button>
</template>
<script setup>
import CustomLoading from "../icons/CustomLoading.vue";

const props = defineProps({
    isLoading: Boolean,
});
</script>
