<template>
    <el-form :model="form">
        <el-form-item label="Je cherche ...">
            <el-select
                v-model="form.typeLogement"
                multiple
                placeholder="(pas de préférence)"
                style="width: 240px"
            >
                <el-option label="🏠 Une maison" value="Maison" />
                <el-option label="🏢 Un appartement" value="Appartement" />
            </el-select>
        </el-form-item>
        <el-form-item label="Dans la ville de...">
            <el-autocomplete
                v-model="form.ville"
                :fetch-suggestions="searchCity"
                placeholder="Paris, Lyon..."
            />
        </el-form-item>
        <el-form-item label="Budget Maxium ?">
            <el-input
                v-model="form.prixMax"
                placeholder="(pas de préférence)"
            />
        </el-form-item>
        <LoadingButton
            @click="handleSubmit"
            :is-loading="isLoading"
        ></LoadingButton>
    </el-form>
</template>
<script setup>
import LoadingButton from "./LoadingButton.vue";
import { reactive, ref } from "vue";
import { apiEndpoint, searchCity } from "../../composables/endpoint.js";
import axios from "axios";
import { ElMessage } from "element-plus";

const emit = defineEmits(["showData"]);

const form = reactive({
    ville: "",
    prixMax: undefined,
    typeLogement: [],
});
const isLoading = ref(false);

const handleSubmit = async () => {
    if (isLoading.value) {
        return;
    }
    isLoading.value = true;
    const params = {};
    if (form.prixMax) {
        params.prixMax = form.prixMax;
    }
    if (form.ville) {
        params.ville = form.ville;
    }
    if (form.typeLogement.length == 1) {
        params.typeLogement = form.typeLogement[0];
    }
    try {
        const { data } = await axios.get(apiEndpoint("/search"), {
            params,
        });
        await new Promise((resolve) => setTimeout(resolve, 400));
        emit("showData", data);
    } catch (e) {
        ElMessage.error(e.message);
    }
    isLoading.value = false;
};
</script>
