<template>
    <div class="searchResult">
        <el-card
            v-for="(home, index) in props.results"
            :style="`animation-delay: ${(index + 2) * 100}ms;`"
            :key="home.id"
        >
            <div class="homeCard">
                <el-image :src="home.image" fit="fill" />
                <div class="homeDescription">
                    <h2>{{ home.prix }} €</h2>
                    <p>
                        {{ home.typeLogement }} de
                        {{ home.surfaceHabitable }} m² ({{ home.nombrePieces }}
                        pièces)
                    </p>
                    <p>{{ home.typeAnnonce }} à {{ home.ville }}</p>
                    <p>
                        <em>Dispo à partir du {{ home.date }}</em>
                    </p>
                </div>
            </div>
        </el-card>
    </div>
</template>
<script setup>
const props = defineProps({
    results: Array,
});
</script>
<style>
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(5rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0rem);
    }
}
.searchResult {
    display: flex;
    flex-direction: column;
}
.searchResult > div {
    width: 100%;
    margin-bottom: 0.5rem;
    animation-name: fadeInUp;
    animation-duration: 700ms;
    animation-fill-mode: both;
}
.el-space {
    display: flex;
    margin: auto;
}
.homeCard {
    display: flex;
    width: 100%;
}
.homeCard > .el-image {
    width: 240px;
    height: auto;
}
.homeCard > .homeDescription {
    flex-grow: 1;
    padding-left: 1rem;
}
</style>
