<template>
    <el-row>
        <el-col :span="5"></el-col>
        <el-col :span="14">
            <el-card class="glassmorph">
                <h2>Dormir sur des cartons ? C'est non !</h2>
                <h3>
                    Trouvez dès maintenant le logement de vos rêves sur
                    Efreal-estate
                </h3>
                <SearchForm @showData="handleShowData"></SearchForm>
            </el-card>
            <p><br /></p>
        </el-col>
        <el-col :span="5"></el-col>

        <el-col :span="2"></el-col>
        <el-col :span="20">
            <SearchResult :results="fetchedData"></SearchResult>
        </el-col>
    </el-row>
</template>
<script setup>
import { reactive, ref, computed } from "vue";
import SearchForm from "./search/SearchForm.vue";
import SearchResult from "./search/SearchResult.vue";
const fetchedData = ref([]);

function handleShowData(value) {
    fetchedData.value = value;
}
</script>
<style scoped>
h2,
h3 {
    text-align: center;
}
h3 {
    color: rgba(0, 0, 0, 0.5);
    font-style: italic;
}
.glassmorph {
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
</style>
