<template>
    <el-menu
        mode="horizontal"
        :default-active="activeIndex"
        @select="handleSelect"
    >
        <el-menu-item index="0"><img src="@/assets/logo.png" /></el-menu-item>
        <el-menu-item
            v-for="item in items"
            :key="item.route"
            :index="item.index"
        >
            {{ item.txt }}
        </el-menu-item>
        <el-menu-item index="99" v-if="store.isLogged"
            ><em>Déconnexion</em></el-menu-item
        >
    </el-menu>
</template>
<script setup>
import { computed } from "vue";
import { useRoute, useRouter } from "vue-router";
import { ElMessage } from "element-plus";
import { useLoginStore } from "../../composables/useLogin";
const store = useLoginStore();
const items = [
    {
        txt: "Chercher un Logement",
        route: "/",
        index: "1",
    },
    {
        txt: "Espace Propriétaire",
        route: "/owner",
        index: "2",
    },
    {
        txt: "Espace Agence",
        route: "/admin",
        index: "3",
    },
];
const route = useRoute();
const router = useRouter();
const activeIndex = computed(() => {
    const item = items.findLast((val) => route.path.startsWith(val.route));
    return item.index;
});
function handleSelect(key) {
    if (key == "99") {
        store.disconnect();
        router.push("/owner");
        ElMessage.success("Vous avez été déconnecté.");
        return;
    }
    const item = items.find((val) => val.index === key);
    if (item?.route) {
        router.push(item.route);
    } else {
        router.push("/");
    }
}
</script>
<style scoped>
img {
    width: auto;
    height: 50px;
    padding: 2px;
}
</style>
