<template>
    <el-container>
        <slot v-if="valid"></slot>
        <el-main v-else>
            <template v-if="wrongPermissions">
                <el-result
                    icon="error"
                    title="Accès refusé"
                    :sub-title="wrongPermissions"
                ></el-result>
                <el-divider></el-divider>
            </template>
            <el-row justify="center">
                <el-col :span="12">
                    <h3>Pour accéder à cette page, il faut vous identifier</h3>
                    <el-form :model="form">
                        <el-form-item label="Login" prop="pass">
                            <el-input
                                v-model="form.id"
                                autocomplete="off"
                                placeholder="admin / logan.tann"
                            />
                        </el-form-item>
                        <el-form-item label="Mot de passe" prop="pass">
                            <el-input
                                v-model="form.pass"
                                type="password"
                                autocomplete="off"
                                placeholder="root / efrei"
                                @change="handleSubmit()"
                            />
                        </el-form-item>
                        <el-button type="primary" @click="handleSubmit()">
                            Se connecter
                        </el-button>
                    </el-form>
                    <el-divider></el-divider>
                    <el-card shadow="never">
                        <span>Comptes disponibles :</span>
                        <ul>
                            <li>(agence) Id: Admin / mdp: root</li>
                            <li>(proprio) Id: logan.tann / mdp: efrei</li>
                            <li>
                                (proprio) Id: charlotte.rousseau / mdp: efrei
                            </li>
                        </ul>
                    </el-card>
                </el-col>
            </el-row>
        </el-main>
    </el-container>
</template>
<script setup>
import { ref, computed } from "vue";
import { useRoute } from "vue-router";
import { ElMessage } from "element-plus";
import { useLoginStore } from "../../composables/useLogin";
const route = useRoute();
const store = useLoginStore();

const form = ref({
    id: "",
    pass: "",
});

const wrongPermissions = computed(() => {
    if (!store.isLogged) {
        return false;
    }
    if (route.path.startsWith("/owner") && store.isAdmin) {
        return "L'administrateur ne peut pas accéder à l'espace adhérent";
    }
    if (route.path.startsWith("/admin") && !store.isAdmin) {
        return "L'espace adhérent est accessible uniquement par l'utilisateur 'admin'";
    }
    return false;
});

const valid = computed(() => {
    if (!(route.path.startsWith("/owner") || route.path.startsWith("/admin"))) {
        return true;
    }
    return store.isLogged && !wrongPermissions.value;
});

function handleSubmit() {
    if (route.path.startsWith("/owner") && form.value.id === "admin") {
        ElMessage.error("L'administrateur n'a pas accès à l'espace adhérent");
        return;
    }
    if (route.path.startsWith("/admin") && form.value.id !== "admin") {
        ElMessage.error(
            "L'espace agence est accessible uniquement avec le compte 'admin'"
        );
        return;
    }
    const result = store.login(form.value.id, form.value.pass);
    if (!result) {
        ElMessage.error("Identifiant / mdp incorrect");
    }
}
</script>
