<template>
    <div v-for="application in tableData">
        <el-divider></el-divider>
        <el-row :gutter="10">
            <el-col :span="18">
                <p>
                    <el-icon><Position /></el-icon>
                    {{ application.ville }} ({{ application.adresse }})
                </p>
                <div v-if="application.nbPieces">
                    <p>
                        <el-icon><InfoFilled /></el-icon>
                        Détails de votre bien
                    </p>
                    <ul>
                        <li>{{ application.nbPieces }} pièces</li>
                        <li>{{ application.surface }} m²</li>
                        <li>Etat : {{ application.etat }}</li>
                    </ul>
                </div>
                <template v-if="application.idAnnonce">
                    <p>
                        <el-icon><House /></el-icon>
                        {{ application.typeAnnonce }}
                    </p>
                    <AnnouncementApplications
                        :applications-count="application.nbCand"
                        :announcement-id="application.idAnnonce"
                        @show-application-details="showApplicationDetails"
                    />
                </template>
                <p v-else>
                    <el-icon><CircleCloseFilled /></el-icon>
                    Bien occupé (aucune annonces)
                </p>
            </el-col>
            <el-col :span="6">
                <el-image :src="application.image" fit="cover" />
            </el-col>
        </el-row>
    </div>
</template>
<script setup>
import {
    Position,
    House,
    InfoFilled,
    CircleCloseFilled,
} from "@element-plus/icons-vue";
import AnnouncementApplications from "./AnnouncementApplications.vue";
const props = defineProps({
    tableData: {
        type: Array,
        default: [],
    },
});
const emit = defineEmits(["showApplicationDetails"]);
function showApplicationDetails(arg) {
    emit("showApplicationDetails", arg);
}
</script>
