<template>
    <div>
        <h1>Dashboard Agence</h1>

        <h2>Statistiques rapides :</h2>

        <el-space wrap :size="30">
            <el-card class="box-card">
                <el-statistic
                    title="Nombre de logements"
                    :value="tableData.nbLogements"
                />
            </el-card>
            <el-card class="box-card">
                <el-statistic
                    title="Nombres d'annonces actives"
                    :value="tableData.nbAnnonces"
                />
            </el-card>
            <el-card class="box-card">
                <el-statistic
                    title="Nombre de candidatures"
                    :value="tableData.nbCandidatures"
                />
            </el-card>
            <el-card class="box-card">
                <el-statistic
                    title="Chiffre d'affaires"
                    :value="tableData.chiffreAffaire"
                />
            </el-card>
        </el-space>

        <h2>Autres rapports :</h2>
        <p>Sur le menu latéral.</p>
    </div>
</template>
<script setup>
import { apiEndpoint, axios } from "../../../composables/endpoint";
import { ref } from "vue";
import { ElMessage } from "element-plus";

const tableData = ref({
    nbLogements: 0,
    nbCandidatures: 0,
    nbAnnonces: 0,
    chiffreAffaire: 0,
});

axios
    .get(apiEndpoint("/report/chiffreAffaire"))
    .then(({ data }) => {
        data.chiffreAffaire = Number(data.chiffreAffaire);
        tableData.value = data;
    })
    .catch((e) => {
        ElMessage.error(e.message);
    });
</script>
<style>
.el-space > .el-space__item {
    width: 230px;
}
</style>
