<template>
    <div>
        <h2>Visites planifiées</h2>
        <el-table
            :data="tableData"
            stripe
            v-loading="isLoading"
            element-loading-text="Chargement des données..."
        >
            <el-table-column label="Candidature">
                <template #default="scope">
                    <el-button
                        link
                        type="primary"
                        size="small"
                        @click="showApplicationDetails(scope.row.applicationId)"
                    >
                        Détails (Id: #{{ scope.row.applicationId }})
                    </el-button>
                </template>
            </el-table-column>
            <el-table-column prop="nom" label="Nom" />
            <el-table-column prop="prenom" label="Prénom" />
            <el-table-column prop="date" label="Date" />
            <el-table-column prop="etat" label="Etat" />
            <el-table-column prop="adresse" label="Adresse" />
            <el-table-column prop="ville" label="Ville" />
        </el-table>
        <ApplicationDetails
            :application-id="applicationToShow"
            @show-application-details="showApplicationDetails"
        ></ApplicationDetails>
    </div>
</template>
<script setup>
import { ref } from "vue";
import { apiEndpoint, axios } from "../../../composables/endpoint";
import { ElMessage } from "element-plus";
import { Position, House } from "@element-plus/icons-vue";
import AnnouncementApplications from "../../applications/AnnouncementApplications.vue";
import ApplicationDetails from "../../applications/ApplicationDetails.vue";

const tableData = ref([]);
const isLoading = ref(true);
const applicationToShow = ref(-1);

axios
    .get(apiEndpoint("/admin/allAppointments"))
    .then(({ data }) => {
        tableData.value = data;
    })
    .catch((e) => {
        ElMessage.error(e.message);
    })
    .finally(() => {
        isLoading.value = false;
    });

const showApplicationDetails = (id) => {
    applicationToShow.value = id;
};
</script>
<style>
.el-space__item {
    width: 100%;
}
</style>
