<template>
    <div>
        <h2>
            Les appartements plus chers que n'importe quelle maison en vente
        </h2>
        <el-table
            :data="tableData"
            stripe
            v-loading="isLoading"
            element-loading-text="Chargement des données..."
        >
            <el-table-column prop="type" label="Type" />
            <el-table-column prop="ville" label="Ville" />
            <el-table-column prop="adresse" label="Adresse" />
            <el-table-column prop="surfaceHabitable" label="Surface (m²)" />
            <el-table-column prop="nombrePieces" label="Adresse" />
            <el-table-column prop="prix" label="Prix" />
        </el-table>
    </div>
</template>
<script setup>
import { ref } from "vue";
import { apiEndpoint } from "../../../composables/endpoint";
import axios from "axios";
import { ElMessage } from "element-plus";

const tableData = ref([]);
const isLoading = ref(true);

axios
    .get(apiEndpoint("/report/expensiveApartment"))
    .then(({ data }) => {
        tableData.value = data;
    })
    .catch((e) => {
        ElMessage.error(e.message);
    })
    .finally(() => {
        isLoading.value = false;
    });
</script>
<style>
.el-table {
    width: 100%;
}
</style>
