<template>
    <div>
        <h2>Biens par propriétaires</h2>

        <el-form-item label="Dans la ville de...">
            <el-autocomplete
                v-model="ville"
                :fetch-suggestions="searchCity"
                placeholder="Paris, Lyon..."
            />
        </el-form-item>

        <el-divider></el-divider>

        <h4 v-if="ville == ''">(Entrez une ville pour générer le rapport)</h4>

        <el-table
            v-else
            :data="tableData"
            stripe
            v-loading="isLoading"
            element-loading-text="Chargement des données..."
        >
            <el-table-column prop="nom" label="Nom" />
            <el-table-column prop="prenom" label="Prénom" />
            <el-table-column prop="type" label="Type" />
            <el-table-column prop="adresse" label="Adresse" />
            <el-table-column prop="surfaceHabitable" label="Surface (m²)" />
        </el-table>
    </div>
</template>
<script setup>
import { ref, watch } from "vue";
import { apiEndpoint, searchCity } from "../../../composables/endpoint";
import axios from "axios";
import { ElMessage } from "element-plus";

const ville = ref("");
const tableData = ref([]);
const isLoading = ref(false);

watch(ville, () => {
    if (!ville?.value) {
        return;
    }
    isLoading.value = true;
    axios
        .get(apiEndpoint(`/report/richPeople/${ville.value}`))
        .then(({ data }) => {
            tableData.value = data;
        })
        .catch((e) => {
            ElMessage.error(e.message);
        })
        .finally(() => {
            isLoading.value = false;
        });
});
</script>
<style>
.el-table {
    width: 100%;
}
</style>
